:root {
  --base: #add8e6;
  --spacing: 10px;
  --blur: 0px;
}

body .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 500px;
  padding: var(--spacing);
  filter: blur(var(--blur));
}

h1 {
  color: var(--base);
}
